.nav-menu-display {
	display: flex;
}

.nav-tab-color {
	text-align: center;
	color: white;
}

.title-section {
	border-top: solid 4px #ba1f33;
	background-color: #44443f;
	padding: 10px;
}

.post-component {
	position: relative;
	padding: 5% 0;
	background-color: #1C1C1C;
	margin: 10% 0;
	box-shadow: 0px 2px 10px #ba1f33;
}

.bio-action-opener {
	background-color: #050505;
	height: 54px;
	width: 54px;
	border-radius: 50% 50%;
	color: white;
	cursor: pointer;
	margin: 0 auto;
	border: solid 2px #ba1f33;
}

.bio-content-hidden {
	height: 0px;
	transition: 0.5s;
	overflow: hidden;
	padding: 0px;
}

.bio-content-showing {
	height: 100px;
	transition: 0.5s;
	padding: 15px;
	overflow: hidden;
	overflow-y: auto;
}

.bio-wrapper-position {
	position: relative;
}

.post-frame-border {
	background-color: #44443f;
	width: 90%;
	margin: 10px auto;
	padding: 10px;
}

.post-container {
	background-color: white;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	width: 80%;
	margin: 0px auto;
	padding: 10px;
}

.date-container {
	padding: 10px;
}

.post-container-hidden {
	height: 80px;
	overflow: hidden;
	transition: 1;
}

.post-container-showing {
	height: auto;
	overflow: hidden;
	transition: 1;
}

.interaction-post-display {
	display: flex;
	justify-content: space-around;
}

.post-img-blur {
	filter: blur(2px);
	width: 100%;
}

.post-img-Noblur {
	filter: blur(0px);
	width: 100%;
}

.social-btn-size {
	background-color: white;
	height: 38px;
	width: 38px;
	border-radius: 50% 50%;

}

.social-facebook {
	background-image: url("/assets/facebook.png");
	background-size: contain;
}

.social-twitter {
	background-image: url("/assets/twitter.png");
	background-size: contain;
}

.more-btn-size {
	background-color: #050505;
	height: 55px;
	width: 55px;
	border-radius: 50% 50%;
	color: white;
	cursor: pointer;
	border: solid 2px #ba1f33;
}
