body {
	margin: 0px;
	background-color: black;
	font-family: 'Spicy Rice', cursive;
	overflow: hidden;
	text-transform: uppercase;
	color: white;
	text-shadow: 0px 5px 1px #000;
	animation: textMoving 5s infinite ease;
}
