.title-footer {
	text-align: center;
	padding: 2%;
}

.footer-main-logo {
	width: 53px;
	margin: 0 auto;
}

.footer-component {
	background-color: #282828;
}

.copyright-footer {
	border-top: 1px solid white;
	padding: 4% 0% 4% 4%;
}
