@media only screen and (min-width: 600px) {
.head-component-size {
	height: 300px;
}

  .searched-username {
		width: 60%;
	}

	.searched-email {
		width: 50%;
	}

	.post-frame-border {
		width: 70%;
	}	

	.post-img-size {
    width: 90%;
		margin: 0 auto;
		height: 100px;
	}

	.date-container {
    padding: 10px 30px;
	}

	.related-component {
		width: 200px;
	}
}
