.avatar-wrapper-circle {
	width: 100px;
	height: 100px;	
	overflow: hidden;
	border: solid 2px white;
	border-radius: 50% 50%;
	margin: 0 auto;
}

.searched-user-component {
	margin: 3% auto;
}

.searched-username, .searched-email {
	background-color: #44443f;
	text-transform: uppercase;
	margin: 0 auto;
	text-align: center;
	height: 25px;
}

.searched-username {
	width: 80%;
	font-size: 18px;
	margin: 10px auto;
	padding: 5px;
}

.searched-email {
	width: 70%;
	font-size: 14px;
	padding: 5px;
}

.avatar-pic-size {
	height: 100%;
	width: 100%;
}

.search-bar-wrapper {
	background-color: white;
	height: 30px;
	padding: 5px;
	width: 80%;
	margin: 0 auto;
}

.search-bar-color {
	color: white;
	background-color: black;
	width: 70%;
	height: 20px;
	display: inline-block;
	margin: 1%;
}

.search-action-size {
	width: 20%;
	height: 20px;
	display: inline-block;
}

.add-make-money {
	width: 80%;
	margin: 30px auto;
}
